<section class="order container">
  <div class="order__content">
    <div class="order__content-text">
      <h2 class="order__title">
        <span class="accent-text">Хватит думать!</span>
        <span class="block-text">Доставим заказ за&nbsp;30&nbsp;минут!</span>
      </h2>
      <p class="order__text">
        Мы  гарантированно доставим вашу пиццу за 30 минут с момента оформления заказа. Если мы опоздаем даже на 1 минуту - вы получаете весь заказ бесплатно и ваучер на скидку на следующий заказ. Мы гордимся нашим сервисом и сделаем всё, чтобы наш клиент был доволен и не остался голодный!
      </p>
    </div>
  </div>

  <div class="order__form-wrapper">
    <app-order-form></app-order-form>
  </div>

  <img class="order__img" src="assets/images/pizzzzza.png" alt="pizzzzza">
</section>
