@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.order {
  position: relative;
  padding-top: 239px;
  padding-bottom: 105px;
  display: flex;
  align-items: end;
  gap: 120px;

  @include respond-down(md) {
    align-items: center;
    text-align: center;
    padding-top: 100px;
    gap: 40px;
  }

  @include respond-down(md) {
    flex-direction: column;
  }

  &__content {
    height: 360px;
  }

  &__content-text {
    height: 100%;
    max-width: 384px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    font-size: 35px;
    font-weight: 800;
    color: $secondary-color;
    line-height: 1.3;
  }

  &__text {
    font-size: 16px;
    font-weight: 400;
    color: $secondary-color;
  }

  &__form-wrapper {
    flex: 1;
    max-width: 330px;
    width: 100%;
  }

  &__img {
    position: absolute;
    right: -120px;
    top: 50%;
    z-index: -1;
    transform: translateY(-50%);

    @include respond-down(xxxl) {
      right: 0;
    }

    @include respond-down(lg) {
      bottom: 0;
      top: unset;
      transform: unset;
    }
  }
}
