@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

:host {
  display: flex;
  justify-content: center;
}

.product-card {
  width: 282px;
  height: 354px;
  padding: 27px 20px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  box-shadow: $primary-shadow;

  &__img-wrapper {
    width: 100%;
    height: 152px;
    overflow: hidden;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    cursor: pointer;
  }

  &__title {
    padding-top: 15px;
    padding-bottom: 12px;
    color: $title-color;
    font-size: 18px;
    font-weight: 700;
  }

  &__description {
    color: $text-color;
    font-size: 14px;
    font-weight: 400;
  }
}

.modal-backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  position: relative;
}

.modal-close {
  position: absolute;
  top: -10px;
  right: -10px;
  background: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 18px;
  cursor: pointer;
  line-height: 0;
}

.modal-image {
  width: 40vw;
  height: 40vh;
  object-fit: contain;
  border-radius: 8px;
}
