<article class="product-card">
  <div class="product-card__content">
    <div class="product-card__img-wrapper">
      <img class="product-card__img" [src]="product.image" [alt]="product.title" (click)="openModal()">
    </div>

    <h3 class="product-card__title">
      {{ product.title }}
    </h3>

    <p class="product-card__description">
      {{ product.description }}
    </p>
  </div>

  <app-button>
    В корзину
  </app-button>
</article>

<!-- Modal -->

@if (isModalOpen) {
  <div class="modal-backdrop" (click)="closeModal()">
    <div class="modal-content" (click)="$event.stopPropagation()">
      <button class="modal-close" (click)="closeModal()">✕</button>
      <img
        class="modal-image"
        [src]="product.image"
        [alt]="product.title"
      />
    </div>
  </div>
}
