<section class="intro container">
  <div class="intro__content">
    <h1 class="intro__title">Самая вкусная пицца в мире <span class="accent-text">только в Pizza&nbsp;Cheff</span></h1>

    <div class="intro__advantages">
      <div class="intro__item">
        <img class="intro__item-icon" src="assets/images/hop.png" alt="hop">

        <div class="intro__item-content">
          <h4 class="intro__item-title">Лучшее тесто</h4>
          <p class="intro__item-text">Мы создаем тесто только из отборной итальянской муки наивысшего качества</p>
        </div>
      </div>

      <div class="intro__item">
        <img class="intro__item-icon" src="assets/images/kitchen-pack.png" alt="hop">

        <div class="intro__item-content">
          <h4 class="intro__item-title">Лучшие повара</h4>
          <p class="intro__item-text">Пиццы готовят самые профессиональные итальянские повара</p>
        </div>
      </div>

      <div class="intro__item">
        <img class="intro__item-icon" src="assets/images/seo-and-web.png" alt="hop">

        <div class="intro__item-content">
          <h4 class="intro__item-title">Гарантия качества</h4>
          <p class="intro__item-text">Наша пиццерия получила множество наград и признаний по всему миру</p>
        </div>
      </div>

      <div class="intro__item">
        <img class="intro__item-icon" src="assets/images/holidays.png" alt="hop">

        <div class="intro__item-content">
          <h4 class="intro__item-title">Отборные рецепты</h4>
          <p class="intro__item-text">Мы используем рецепты от мировых лидеров в изготовлении пиццы</p>
        </div>
      </div>
    </div>

    <div class="intro__btn-wrapper">
      <app-button size="lg">Выбрать пиццу</app-button>
    </div>
  </div>


  <img class="intro__img" src="assets/images/pizza-big.png" alt="intro pizza">
</section>
