/* Muller Font */
@font-face {
  font-family: 'Muller';
  src: url('../assets/fonts/Muller/Muller-Trial-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../assets/fonts/Muller/Muller-Trial-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../assets/fonts/Muller/Muller-Trial-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../assets/fonts/Muller/Muller-Trial-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}
