@use "variables" as *;

.no-select {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.no-drag {
  -webkit-user-drag: none;
  user-drag: none;
  -moz-user-drag: none;
}

.accent-text {
  color: $primary-color;
}
