// Colors
$primary-color: #ffaf18;
$secondary-color: #b99050;
$title-color: #382400;
$text-color: #181a1a;
$dark-color: #020303;
$bg-color: #ffffff;
$nav-color: #a46b00;

// Shadows
$primary-shadow: 0 3px 8px 2px rgba(152, 152, 152, 0.2);

// Paddings
$page-padding: 0 16px;

// Layout
$container-width: 1200px;

// Breakpoints
$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1100px,
  xxl: 1200px,
);
