@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.order-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;

  input {
    padding: 20px 22px 18px;
    border: 1px solid $border-color;
    font-size: 18px;
    color: $secondary-color;

    &::placeholder {
      color: $border-color;
    }
  }

  .error {
    position: absolute;
    bottom: -20px;
    left: 0;
    z-index: 1;
    padding: 2px 5px;
    font-size: 12px;
    color: #d32f2f;
    background-color: #fff;
    border-radius: 5px;
    text-shadow: 1px 1px 1px #ccc;
  }
}
