@use "../../../styles/variables" as *;

:host {
  width: 100%;
}

.btn {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  border: none;
  cursor: pointer;

  background-color: $primary-color;
  color: $title-color;

  transition: background-color 0.2s ease;

  &:hover {
    background-color: darken($primary-color, 5%);
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

.sm {
  height: 40px;
  padding: 16px 10px;
  font-size: 14px;
}

.md {
  height: 50px;
  padding: 18px 10px;
  font-size: 16px;
}

.lg {
  height: 60px;
  padding: 22px 10px;
  font-size: 16px;
}
